<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.example.floatingwidget" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>FloatingWidgetPlugin</name>
    <description>Cordova Plugin to show a floating widget</description>
    <license>Apache 2.0</license>
    <keywords>cordova, plugin, floating, widget</keywords>
    <engine name="cordova" version=">=9.0.0" />

<js-module src="www/FloatingWidgetPlugin.js" name="FloatingWidgetPlugin">
        <clobbers target="window.FloatingWidgetPlugin" />
    </js-module>

    <platform name="android">
        <!-- Add necessary permissions -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
        </config-file>


                <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FloatingWidgetPlugin" >
                <param name="android-package" value="com.example.floatingwidget.FloatingWidgetPlugin"/>
            </feature>
        </config-file>

        <!-- Java source file -->
        <source-file src="src/android/FloatingWidgetPlugin.java" target-dir="src/com/example/floatingwidget" />

        <!-- Resource files -->
       <!--<resource-file src="src/android/res/drawable/ic_launcher.png" target="app/src/main/res/drawable/ic_launcher.png" />
        <resource-file src="src/android/res/layout/floating_widget_layout.xml" target="app/src/main/res/layout/floating_widget_layout.xml" />-->

        <!-- Include the res directory -->
<!-- Resource files -->
        <resource-file src="src/android/res/drawable/banana.gif" target="res/drawable/banana.gif" />
        <resource-file src="src/android/res/layout/floating_widget_layout.xml" target="res/layout/floating_widget_layout.xml" />

       
    </platform>
</plugin>
